Repository jamf/regatta-go, changes with the labels that .github/labeler.yml gives for each.
All labels: code, docs, proto

.github/labeler.yml:

code:
- "**/**.go"
docs:
- "docs/**"
- "README.md"
proto:
- "proto/**"

add: Improving client
  .github/workflows/test.yml
  client/client.go
  client/cluster.go
  client/config.go
  client/context.go
  client/credentials/credentials.go
  client/endpoint/endpoint.go
  client/interceptor.go
  client/kv.go
  client/log.go
  client/op.go
  client/options.go
  client/resolver/resolver.go
  client/tls.go
  client/txn.go
Labels: code

add: default snappy compression
  client/client.go
  client/interceptor.go
  client/options.go
  client/snappy/grpc.go
  go.mod
  go.sum
Labels: code

add: improve client
  .golangci.yml
  client/client.go
  client/config.go
  client/interceptor.go
  client/internal/endpoint/endpoint.go
  client/internal/endpoint/endpoint_test.go
  client/internal/resolver/resolver.go
  client/internal/snappy/grpc.go
  client/log.go
  client/op.go
  client/options.go
  client/tls.go
Labels: code

add: simplify client
  client/cluster.go
  client/kv.go
  client/op.go
Labels: code

add: fix copylock
  .golangci.yml
  client/op.go
  client/txn.go
Labels: code

add: comment out not available integrations
  .github/workflows/test.yml
Labels: none

add: readme
  README.md
Labels: docs
