Repository jamf/regatta-go, pull requests merged in 2023-11, with the labels that each got.

#16 add: add opentelemetry plugin
  .gitignore
  hooks.go
  kv.go
  plugin/README.md
  plugin/rotel/config.go
  plugin/rotel/go.mod
  plugin/rotel/go.sum
  plugin/rotel/rotel.go
  plugin/rotel/version.go
  plugin/rprom/go.mod
  plugin/rprom/go.sum
Labels: code

#17 add: implement Stringer for response types, improve Tx handling
  README.md
  go.sum
  kv.go
  txn.go
Labels: docs, code

#18 bug: fix rotel package name, fix hook support in Table and Txn
  kv.go
  plugin/rotel/config.go
  plugin/rotel/rotel.go
  plugin/rotel/version.go
Labels: code

#19 add: improvements to plugin ecosystem
  .github/dependabot.yml
  go.mod
  go.sum
  go.work
  go.work.sum
  kv.go
  plugin/rotel/go.mod
  plugin/rotel/go.sum
  plugin/rprom/go.mod
  plugin/rprom/go.sum
Labels: code

#20 add: restructuring config
  README.md
  client.go
  config.go
  doc.go
  go.work.sum
  log.go
Labels: docs, code

#21 add: improve config options, remove ConfigSpec struct
  client.go
  config.go
  go.work.sum
  interceptor.go
Labels: code

#27 feature: plugin/rprom: add request metrics
  go.work.sum
  kv.go
  plugin/rprom/rprom.go
Labels: code

#28 feature: plugin/rprom: set default namespace
  plugin/rprom/config.go
  plugin/rprom/rprom.go
Labels: code

#29 feature: plugin/rprom: use default prometheus registerer/gatherer
  plugin/rprom/config.go
Labels: code

#30 docs: improve documentation of plugins and adjust examples
  README.md
  plugin/README.md
  plugin/rprom/README.md
  plugin/rprom/rprom.go
Labels: docs, code

#31 feature: plugin/rprom: unregister request metrics on close
  plugin/rprom/rprom.go
Labels: code

#33 docs: adjust contributing section
  README.md
Labels: docs

#34 feature: add fake test client
  fake.go
Labels: code

#35 bug: fix possible panic in fake test client
  fake.go
Labels: code
